ui               = true
disable_mlock    = true
api_addr         = "https://{{ ansible_host }}:8200"
cluster_addr     = "https://{{ ansible_host }}:8201"
license_path     = "{{ vault_license_dest }}"

storage "raft" {
  path    = "{{ vault_data_dir }}"
  node_id = "{{ inventory_hostname }}"
}

listener "tcp" {
  address            = "0.0.0.0:8200"
  cluster_address    = "0.0.0.0:8201"
  tls_cert_file      = "{{ vault_tls_dir }}/server.crt"
  tls_key_file       = "{{ vault_tls_dir }}/server.key"
  tls_client_ca_file = "{{ vault_tls_dir }}/ca.crt"
  tls_min_version    = "tls12"
}

telemetry {
  disable_hostname = true
}
